In [33]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import math

In [34]:
data_b_NO=pd.read_excel("/Users/roshanchandraayyadevara/Documents/Dataset_Dessertation/year/NO_Data.xlsx",sheet_name='Birmingham')
data_l_NO=pd.read_excel("/Users/roshanchandraayyadevara/Documents/Dataset_Dessertation/year/NO_Data.xlsx",sheet_name='London')
data_lp_NO=pd.read_excel("/Users/roshanchandraayyadevara/Documents/Dataset_Dessertation/year/NO_Data.xlsx",sheet_name='Liverpool')

In [35]:
df_b_NO=data_b_NO[["Year","Site_Name","City","Annual_Mean"]]
df_l_NO=data_l_NO[["Year","Site_Name","City","Annual_Mean"]]
df_lp_NO=data_lp_NO[["Year","Site_Name","City","Annual_Mean"]]

In [36]:
df_b_NO=data_b_NO.groupby('Year').agg(NO_Birmingham=('Annual_Mean', 'mean')).reset_index()
df_l_NO=data_l_NO.groupby('Year').agg(NO_London=('Annual_Mean', 'mean')).reset_index()
df_lp_NO=data_lp_NO.groupby('Year').agg(NO_Liverpool=('Annual_Mean', 'mean')).reset_index()

In [37]:
B_NO=df_b_NO['NO_Birmingham']
l_NO=df_l_NO['NO_London']
lp_NO=df_lp_NO['NO_Liverpool']

In [38]:
df_lp_NO

    Year  NO_Liverpool
0   2000          37.0
1   2001          36.0
2   2002          30.0
3   2003           9.0
4   2004           9.0
5   2005          10.0
6   2006           9.0
7   2007           9.0
8   2008          16.0
9   2009          17.0
10  2010          19.5
11  2011          14.0
12  2012          13.5
13  2013          12.0
14  2014          13.5
15  2015          12.5
16  2016          13.5
17  2017           4.0
18  2018           4.0
19  2019           5.0
20  2020           2.0
21  2021           4.0
22  2022           4.0

In [39]:
print("Maximum of Birmingham",max(B_NO))
print("Maximum of London",max(l_NO))
print("Maximum of Liverpool",max(lp_NO))

Maximum of Birmingham 35.5
Maximum of London 51.64705882352941
Maximum of Liverpool 37.0

In [40]:
print("Minimum of Birmingham",min(B_NO))
print("Minimum of London",min(l_NO))
print("Minimum of Liverpool",min(lp_NO))

Minimum of Birmingham 11.0
Minimum of London 9.2
Minimum of Liverpool 2.0

In [41]:
print("SD of Birmingham",B_NO.std())
print("SD of London",l_NO.std())
print("SD of Liverpool",lp_NO.std())

SD of Birmingham 5.696790330551748
SD of London 10.430753401150561
SD of Liverpool 9.642164895578057

In [42]:
print("Variance of Birmingham",B_NO.var())
print("Variance of London",l_NO.var())
print("Variance of Liverpool",lp_NO.var())

Variance of Birmingham 32.453420070267896
Variance of London 108.80061651561401
Variance of Liverpool 92.9713438735178

In [43]:
print("Mean of Birmingham",B_NO.mean())
print("Mean of London",l_NO.mean())
print("Mean of Liverpool",lp_NO.mean())

Mean of Birmingham 19.77173913043478
Mean of London 29.179466899442662
Mean of Liverpool 13.195652173913043

In [46]:
import pandas as pd
import scipy.stats as stats
import statsmodels.stats.multicomp as mc

# Assuming B_NO2, l_NO2, and lp_NO2 are pandas Series containing the data for Birmingham, London, and Liverpool respectively.

# Combine the data into a single DataFrame
data = pd.DataFrame({
    'Birmingham': B_NO,
    'London': l_NO,
    'Liverpool': lp_NO
})

# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(data['Birmingham'], data['London'], data['Liverpool'])

# Print the results
print("F-statistic:", f_statistic)
print("p-value:", p_value)

# Check for statistical significance (alpha = 0.05)
if p_value < 0.05:
    print("The means are significantly different among the cities.")
    # Perform Tukey's HSD test for post hoc analysis
    mc_result = mc.MultiComparison(data.melt(var_name='City', value_name='NO Concentration')['NO Concentration'],
                                   data.melt(var_name='City', value_name='NO Concentration')['City'])
    tukey_result = mc_result.tukeyhsd()
    print(tukey_result)

    # Get the increasing order of cities based on their NO2 concentrations
    mean_values = data.mean().sort_values(ascending=False)  # Sort in ascending order
    increasing_order = mean_values.index.tolist()
    print("Increasing order of cities based on NO concentrations:")
    print(increasing_order)

else:
    print("There is no significant difference among the cities.")

F-statistic: 19.01234968364495
p-value: 3.016104498040719e-07
The means are significantly different among the cities.
    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1     group2  meandiff p-adj   lower    upper  reject
------------------------------------------------------------
Birmingham Liverpool  -6.5761 0.0369 -12.8235 -0.3286   True
Birmingham    London   9.4077 0.0017   3.1603 15.6552   True
 Liverpool    London  15.9838    0.0   9.7364 22.2313   True
------------------------------------------------------------
Increasing order of cities based on NO concentrations:
['London', 'Birmingham', 'Liverpool']